﻿* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: unset;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.5rem;
}

.img-logo {
    width: 100px;
    height: 100px; 
    max-width: 100px;
    max-height: 100px;
}

header {
    text-align: center;
}

.navbar-header {
    position: relative;
    left: -30px;
}

.wrapper {
    min-height: calc(100vh - 50px);
}

.main-content {
    position: relative;
    width: 80%;
    left: 15%;
    min-height: 300px;
    border-top: none;
    overflow: auto;
    margin-bottom: 30px;
}

.right-sidebar {
    justify-content: center;
}

.text-box {
    border-bottom: 1px solid #9d9d9d;
    border-bottom: 1px solid rgba(157, 157, 157, 0.1);
}

footer {
    overflow: hidden;
    margin-bottom: 0;
    height: 60px;
    background-color: rgb(63, 63, 63);
    color: white;
}

footer a {
    color: white;
}

.float-left {
    float: left;
}

.submit-button {
    background-color: honeydew; 
}