﻿@model Task23_Library_MVC_Framework.Models.Article

@{
    ViewBag.Title = "Article";
}

@using (Html.BeginForm("AddArticle", "Home", FormMethod.Post))
{
    <div class="text-box border border-3 px-3 py-2 my-2">
        @Html.ValidationSummary(true)
        <p>Article name:</p>
        @Html.TextBox("Name", "", new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Name)</p>
        <p>Text:</p>
        @Html.TextArea("Text", "", new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(model => model.Text)</p>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
}