﻿@using Task23_Library_MVC_Framework.Extensions
@model Task23_Library_MVC_Framework.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Home";
    ViewBag.Name = Request.Params["Name"];
}

@foreach (var item in Model.ArticlesDtos)
{
<article class="text-box border border-3 px-3 py-2 my-2">
    <div class="fw-light">
        @if (string.IsNullOrEmpty(ViewBag.Name.ToString())) 
        {
            foreach (var tag in item.TagDtos.Select(tagDto => tagDto.Name))
            {
                @Html.ActionLink(tag + " ", "ArticlesByTag", new { Id = item.TagDtos.FirstOrDefault(tagDto => tagDto.Name == tag).Id, Name = tag })
            }
        }
        else
        {
            string str = ViewBag.Name.ToString();
            @Html.ActionLink(str, "ArticlesByTag", new { Id = item.TagDtos.FirstOrDefault(tagDto => tagDto.Name == str).Id, Name = str })
        }
    </div>

    <div>
        <h1>@item.Name</h1>
    </div>
    <div>
        <p>@TextExtensions.CutText(item.Text, 200)</p>
        @Html.ActionLink("Read more", "GetFullArticle", new { Id = item.Id })
    </div>
    <div>
        <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
    </div>
</article>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, url => Url.Action("ArticlesByTag", new { page = url, Name = ViewBag.Name }))
</div>