﻿@model Task23_Library_MVC_Framework.Models.Article

@{
    ViewBag.Title = "Home";
}

<article class="text-box border border-3 px-3 py-2 my-2">
    <div class="fw-light">
        @foreach (var tag in Model.TagDtos.Select(tagDto => tagDto.Name))
        {
            @Html.ActionLink(tag + " ", "ArticlesByTag", new { Id = Model.TagDtos.FirstOrDefault(tagDto => tagDto.Name == tag).Id, Name = tag })
        }
    </div>

    @using (Html.BeginForm("AddTag", "Home", FormMethod.Post))
    {
        <div class="border px-3 py-2">
            @{
                var Id = Model.Id;
            } 

            <div hidden>
                @Html.EditorFor(m => Id)
            </div>

            @Html.ValidationSummary(true)

            <p>Add Tag:</p>
            @Html.TextBox("Name", "", new { @class = "form-control" })
            <p class="alert-danger">@Html.ValidationMessageFor(model => model.TagDtos.Single().Name)</p>

            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    }

    <div>
        <h1>@Model.Name</h1>
    </div>

    <div>
        <p>@Model.Text</p>
    </div>

    <div>
        <p>@Model.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
    </div>
</article>