﻿@using Task23_Library_MVC_Framework.Extensions
@model Task23_Library_MVC_Framework.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Home";
}

@foreach (var item in Model.ArticlesDtos)
{
<article class="text-box border border-3 px-3 py-2 my-2">
    <div class="fw-light">
        @foreach (var tag in item.TagDtos.Select(tagDto => tagDto.Name))
        {
            @Html.ActionLink(tag + " ", "ArticlesByTag", new { Id = item.TagDtos.FirstOrDefault(tagDto => tagDto.Name == tag).Id, Name = tag })
        }
    </div>

    @using (Html.BeginForm("AddTag", "Home", FormMethod.Post))
    {
        <div class="border px-3 py-2">
            @{
                var Id = item.Id;
            }

            <div hidden>
                @Html.EditorFor(m => Id)
            </div>

            @Html.ValidationSummary(true)
            <p>Add Tag:</p>
            @Html.TextBox("Name", "", new { @class = "form-control" })

            <p class="alert-danger">@Html.ValidationMessageFor(model => model.TagDtos.Single().Name)</p>

            <div class="mt-2">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        
        </div>
    }

    <div>
        <h1>@item.Name</h1>
    </div>
    <div>
        <p>@TextExtensions.CutText(item.Text, 200)</p>
        @Html.ActionLink("Read more", "GetFullArticle", new { Id = item.Id })
    </div>
    <div>
        <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
    </div>
</article>
}

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, url => Url.Action("Index", new { page = url }))
</div>