﻿@using Task23_Library_MVC_Framework.Extensions
@model Task23_Library_MVC_Framework.ViewModels.CommentViewModel

@{
    ViewBag.Title = "Guest";
}

@using (Html.BeginForm("AddComment", "Guest", FormMethod.Post))
{
    <div class="text-box border border-3 px-3 py-2 my-2">
        @Html.ValidationSummary(true)
        <p>Author name:</p>
        @Html.TextBox("Name", "", new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CommentDtos.Single().Name)</p>
        <p>Text:</p>
        @Html.TextArea("Text", "", new { @class = "form-control" })
        <p class="alert-danger">@Html.ValidationMessageFor(model => model.CommentDtos.Single().Text)</p>
        <div class="mt-2">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </div>
}

<div class="col-10">
    @foreach (var item in Model.CommentDtos)
    {
        <div class="text-box border border-3 px-3 py-2 my-2">
            <div>
                <p class="border px-3 py-2"> <b>Name:</b> @item.Name</p>
            </div>
            <div>
                <p class="border px-3 py-2"> <b>Text:</b> @item.Text</p>
            </div>
            <div class="px-3 py-2">
                <p>@item.CreationDate.ToString("dd/MM/yyyy hh:mm")</p>
            </div>
        </div>
    }
</div>

<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))
</div>